<%- include('partials/_header') %> 

<%- include('partials/_navigation') %> 
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>About Us<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About</h3>
                    <p class="lead">This project made by <strong>Node.js</strong> </p>
                </div>
            </div><!-- end title -->        
        </div><!-- end container -->
    </div><!-- end section -->
	
    <%- include('partials/_footer') %> 

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>

</body>
</html>